@charset "UTF-8";

@font-face {
  font-family: "mv-faseyha";
  src: url("/assets/fonts/mv_faseyha.otf") format("opentype");
}


.thaanakeyboard {
  font-family: "mv-faseyha";
  line-height: 1.8em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  direction: rtl;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
